body
{
    padding: 0;
    margin: 0;
    background-image:url("img/ep2-velodrome-img-velodrome-1-1.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    backdrop-filter: grayscale(0.5) opacity(0.8);
    
}
p
{
    color:whitesmoke;
    font-size: 30px;
    text-shadow: 1px 1px 2px rgb(0, 183, 255), 0 0 1em blue, 0 0 0.2em blue;
}
main
{

    display: flex;
    flex-direction: column;
    align-items: center;
}
p
{
    display: flex;
    color:whitesmoke;
    font-size: 30px;
    text-shadow: 1px 1px 2px rgb(0, 183, 255), 0 0 1em blue, 0 0 0.2em blue;
}

.info
{

}

img
{   margin-top: 20px;
    display: flex;
    border-radius: 6px 6px 6px;
} 
